{% extends "base.html" %}

{% block content %}

<form class="row mt-5" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="col-4 offset-4">
    {% if form.errors %}
    <p>이름과 비밀번호가 일치하지 않습니다. 다시 시도해주세요.</p>
    {% endif %}
    <div class="form-group">
      <input class="form-control login-text" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}"
             type="text" placeholder="아이디">
    </div>
    <div class="form-group">
      <input class="form-control login-text" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}"
             type="password" placeholder="비밀번호"/>
    </div>
    <input type="hidden" name="next" value="{{ next }}"/>
    <div class="col-12 px-0">
      <input class="btn btn-outline-dark w-100" type="submit" value="login"/>
    </div>
    <div class="col-12 px-0 my-2">
      <label>Didn't Have Account Yet? </label>
      <a role="button" class="btn btn-outline-dark" href="{% url 'register' %}">register</a>
    </div>
  </div>
</form>

{% endblock %}