<section class="resume-section p-3 p-lg-5 d-flex justify-content-center">
    <div class="w-100">
        <h2 class="mb-5">Select Time</h2>

        <form class="resume-item" method="get" onreset="resetTime();" action="{% url 'check_reservation' %}">
            <div class="input-group my-2">
                <i class="fas fa-calendar-alt align-self-center pl-3"></i>
                <input type="text" class="form-control datePicker pl-5" id="id_date">
            </div>
            <div class="row">
                <div class="col-12 table">
                    <table class="table table-bordered table-sm" id="timeTable">
                        <!-- 임시방편 - 나중에 django 쿼리셋으로 개편 및 Ajax 처리 예정 -->
                        <colgroup>
                            <col style="width: 33%">
                        </colgroup>
                        <thead class="text-center">
                        <tr>
                            <th>교시</th>
                            <th>예약 여부</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row d-flex flex-column flex-md-row justify-content-end">
                <div class="col-lg-1 col-md-12 pl-lg-0 my-2">
                    <button type="reset" class="btn btn-secondary w-100">Reset</button>
                </div>
                <div class="col-lg-1 col-md-12 pl-lg-0 my-2" id="select_time_next_button">
                    <button type="submit" class="btn btn-primary w-100">submit</button>
                </div>
            </div>
        </form>
    </div>
</section>


<script>
$(document).ready(function(){
    $("#timeTable").hide();

    $('.datePicker').datepicker({
        format : 'yyyy년 mm월 dd일',
        startDate : new Date(),
        maxViewMode : 2,
        language : 'kr',
        autoclose : true,
        todayHighlight: true,
    });

    $("#id_date").change(function() {
        // get date database here and set'em in table
        $("#timeTable").show();
    });

    for (var i = 1 ; i < 14 ; i++){
        $('#timeTable > tbody').append(
            "<tr>\n" +
            "<th class='text-center'>"+ i +"</th>\n" +
            "<td class='text-center'><input type='checkbox' id='id_" + i + "' name='" + i + "'></td>\n" +
            "</tr>"
        )
    }

    $('td').click(function () {
        var row_index = $(this).parent().index();
        {#var col_index = $(this).index();#}
        {#console.log('row_index : ' + row_index + ", col_index : " + col_index);#}
        var where = 'input[name=' + (row_index + 1) + ']';
        {#console.log(where)#}
        var chk = $(where).is(":checked") === true|false;
        {#console.log(chk)#}
        if (chk) {
            $(where).prop('checked', false);
        } else {
            $(where).prop('checked', true);
        }
    });

});

function resetTime(){
    $("#timeTable").hide();
}

</script>