{% extends 'base.html' %}

{% block content %}

<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
  <div class="w-100">
    <h2 class="mb-5">Select Room</h2>

    <form class="resume-item" method="get" action="{% url 'choose_time'%}">
      <div class="row resume-content d-flex flex-column flex-md-row justify-content-between mb-5">

        <div class="col-md-4 col-sm-12 my-2">
        <h3 class="mb-0">1. Select Building</h3>
          <div class="col-12 px-0">
            <select class="form-control form-control-sm">
              <option>building 1</option>
              <option>building 2</option>
              <option>building 3</option>
              <option>building 4</option>
            </select>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 my-2">
          <h3 class="mb-0">2. Select floor</h3>
          <div class="col-12 px-0">
            <select class="form-control form-control-sm">
              <option>B1</option>
              <option>F1</option>
              <option>F2</option>
              <option>F3</option>
            </select>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 my-2">
          <h3 class="mb-0">3. Select Class</h3>
          <div class="col-12 px-0">
            <select class="form-control form-control-sm">
              <option>101</option>
              <option>202</option>
              <option>303</option>
              <option>404</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
        <div class="col-6">
          <button type="submit" class="btn btn-primary">다음</button>
        </div>
      </div>
    </form>
  </div>
</section>

<script>

</script>

{% endblock content %}