{% extends 'base.html' %}

{% block content %}
<div class="post">
    <a class="btn btn-outline-dark float-right" href="{% url 'post_remove' pk=post.pk %}"><i class="fas fa-times"></i></a>

    {% if user.is_authenticated %}
        <a class="btn btn-outline-dark float-right mx-2" href="{% url 'post_edit' pk=post.pk %}"><i class="fas fa-pen"></i></a>
    {% endif %}

    {% if post.published_date %}
    <div class="date">
        {{ post.published_date }}
    </div>
    {% else %}
        <a class="btn btn-outline-dark float-right" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
    {% endif %}

    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>
    <hr>
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}
                    {% if not comment.approved_comment %}
                        <a class="btn btn-outlined-dark" href="{% url 'comment_remove' pk=comment.pk %}"><i
                                class="fas fa-eraser"></i></a>
                        <a class="btn btn-outlined-dark" href="{% url 'comment_approve' pk=comment.pk %}"></a>
                    {% endif %}
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% endif %}
    {% empty %}
        <p>Congratulation! You can leave First Comment in this article!</p>
    {% endfor %}

    {% if user.is_authenticated %}
        <a class="btn btn-outline-dark" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a>
    {% endif %}
</div>

{% endblock content %}