{% extends "header.html" %}

{% block title %}
<h3>Register Page</h3>
{% endblock title %}

{% block content %}
<form class="row">
    <div class="col-3 offset-4">
        <div class="col-12 d-flex justify-content-between px-0">
            <div class="col-3 px-0 text-center">
                <label class="form-control-label col-form-label">ID :</label>
            </div>
            <div class="col-9 px-0">
                <input class="form-control">
            </div>
        </div>
        <div class="col-12 d-flex justify-content-between px-0">
            <div class="col-3 px-0 text-center">
                <label class="form-control-label col-form-label">PW :</label>
            </div>
            <div class="col-9 px-0">
                <input class="form-control">
            </div>
        </div>
        <div class="col-12 d-flex justify-content-between px-0">
            <div class="col-3 px-0 text-center">
                <label class="form-control-label col-form-label">E-MAIL :</label>
            </div>
            <div class="col-9 px-0">
                <input class="form-control">
            </div>
        </div>
    </div>
    <div class="col">

    </div>
</form>
{% endblock content %}